<nz-modal [(nzVisible)]="isVisible" 
  [nzTitle]="modalTitle" 
  (nzOnCancel)="handleCancel()" 
  (nzOnOk)="handleOk()"
  [nzCentered]="isCenter"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  nzWrapClassName="wrap"
  [nzCloseIcon]="modalClose">

  <ng-template #modalTitle>
    <div class="title">{{ title }}</div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button 
      nzType="primary" 
      nzShape="round" 
      nzSize="large" 
      [nzLoading]="isLoading"
      (click)="handleOk()">
      Save
    </button>
  </ng-template>

  <ng-template #modalClose>
    <button nz-button 
      nzType="default" 
      nzShape="circle"
      nzSize="large">
      <i nz-icon nzType="close"></i>
  </button>
  </ng-template>
</nz-modal>